$palitra-1-1: #643ECF;
$palitra-1-2: #644CA5;
$palitra-1-3: #5A20FA;
$palitra-1-4: #594D7A;
$palitra-1-5: #444050;
$palitra-1-6: #2D2B33;



$color-text-palitra-1-4 : $palitra-1-4;
$color-text-palitra-2-5 : $palitra-1-5;
$color-text-palitra-3-6 : $palitra-1-6;