@use "@/styles/variables" as v;
@use "@/styles/typography";
@use "tailwindcss";

:root {
  --breakpoint-xs: 400px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --color-palitra-1-1: #{v.$palitra-1-1};
  --color-palitra-1-2: #{v.$palitra-1-2};
  --color-palitra-1-3: #{v.$palitra-1-3};
  --color-palitra-1-4: #{v.$palitra-1-4};
  --color-palitra-1-5: #{v.$palitra-1-5};
  --color-palitra-1-6: #{v.$palitra-1-6};

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-palitra-1-4 {
  color: var(--color-palitra-1-4);
}

.text-palitra-1-5 {
  color: var(--color-palitra-1-5);
}

.text-palitra-1-6 {
  color: var(--color-palitra-1-6);
}

.bg-palitra-1-1 {
  background-color: var(--color-palitra-1-1);
}

.bg-palitra-1-2 {
  background-color: var(--color-palitra-1-2);
}

.bg-palitra-1-3 {
  background-color: var(--color-palitra-1-3);
}
.bg-palitra-1-5 {
  color: var(--color-palitra-1-5);
}
